.app {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 100px auto;
}
.input-form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-left: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f8f8f8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

li.completed .task {
  text-decoration: line-through;
  color: gray;
}
.number{
  font-weight: 600;
}
li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
li span {
  flex-grow: 1;
}
/* dark mode */
.dark {
  background-color: #121212;
  color: white;
}

.dark .input-filter input{
  background-color: #333;
  color: white;
  border: 1px solid #555;
}
.dark-mode-toggle {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

